/* press-start-2p-regular - latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('/static/press-start-2p-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'),
       url('/static/press-start-2p-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/press-start-2p-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/press-start-2p-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/static/press-start-2p-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/press-start-2p-v8-latin-regular.svg#PressStart2P') format('svg'); /* Legacy iOS */
}
* {
	font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    background: #000;
}
#viewer {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,0.8);
    overflow: hidden;
    margin: 0;
    padding: 0.5rem;
    box-sizing: border-box;
}

.hidden{
    display: none;
}

#trigger {
    border-radius: 0.5rem;
    border: none;
    position: fixed;
    width: calc(100vw - 2rem);
    left: 1rem;
    bottom: 1rem;
    padding: 0.8rem;
    color: white;
    font-size: 1rem;
    background-image: linear-gradient(0deg, #0070bb 12.50%, #0cb04a 12.50%, #0cb04a 25%, #ffd100 25%, #ffd100 37.50%, #ec1b24 37.50%, #ec1b24 50%, #0070bb 50%, #0070bb 62.50%, #0cb04a 62.50%, #0cb04a 75%, #ffd100 75%, #ffd100 87.50%, #ec1b24 87.50%, #ec1b24 100%);
    background-size: 5.2rem 5.2rem;
     z-index: 1000000;
    box-shadow: 0.1rem 0.1rem 0.2rem -0.1rem black;
}
#image {
    width: 100%;
    height: calc(100vh - 5rem);
    top: 1rem;
    display: block;
    background-size: contain!important;
    padding: 1rem;
    box-sizing: border-box;
    background-image: url("/static/polaroid.svg");
    background-position: center center;
    background-repeat: no-repeat;
}
#counter {
    position: fixed;
    font-size: 4rem;
    bottom: 10rem;
    width: 100%;
    color: #fff;
    text-align: center;
}
