<!DOCTYPE html>
<html>
    <head>
        <title>
            Photo Booze
        </title>
        <meta name="theme-color" content="#333">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='booze.css') }}">
	    <script src="{{ url_for('static', filename='vue.min.js') }}"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>

