{% extends "base.html" %}
	{% block head %}
		<style>

		</style>
	{% endblock %}
    {% block content %}
        <div class="content">
	       <div id="booze">
			   {% raw %}
			   <div id="viewer" v-if="imageIndex > -1">
				   <div id="close_btn" @click="imageIndex=-1">X</div>
				   <img :src="images[imageIndex].scaled">
			   </div>
			  		<ul id="gallery">
						<li v-for="(image, index) in images" v-if="index < imageLimit ">
							<img :src="image.thumb" @click="imageIndex=index">
						</li>
					</ul>	
			   {% endraw %}
	       </div>
        </div>
		<script src="{{ url_for('static', filename='gallery.js') }}"></script>

    {% endblock %}

