{% extends "base.html" %}
    {% block head %}
      <script src="/static/ken-burns-slideshow.global.min.js"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='slideshow.css') }}">
    {% endblock %}

    {% block content %}
      {% raw %}
        <ul class="slideshow">
            <li v-for="(image, index) in images">
                <img :src="image.src">
            </li>
        </ul>	
      {% endraw %}
   
  <script src="{{ url_for('static', filename='slideshow.js') }}"></script>

  {% endblock %}
